In [1]:
import pandas as pd

In [3]:
convertir = pd.read_excel('estudiantes.xlsx')

  NOMBRE; EDAD;GENERO;CARRERA ;SEMESTRE
0         Victor;28;M;Auditoria;Primero
1     Francisco;28;M;Informatica;Noveno
2              Raul;26;M;Derecho;Quinto
3     Mariana;27;F;Arquitectura;Septimo
4           Gustavo;22;M;Derecho;Cuarto
5         Sofia;20;F;Enfermeria;Segundo